# 1. 문자열 메소드 활용하기

## 1.1 변형

### `.capitalize()`, `.title()`, `.upper()`

`.capitalize()` : 가장 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [1]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [4]:
words.capitalize()
words.title()
result = words.upper()
print(result)

HI! EVERYONE, I'M KIM

### `.lower()`, `.swapcase()`

`.lower()` : 모두 소문자로 만들어 반환합니다.

`.swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [ ]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [6]:
words.lower()
words.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

Iterable한 객체를 해당 문자열의 separator 로 합쳐서 문자열로 반환합니다.

In [7]:
# 아래에 코드를 작성하세요.
'!'.join('배고파')

'배!고!파'

In [10]:
# 이렇게도 사용할 수 있겠죠?
words = ['hi', 'hello']
'!'.join(words)

words = '1,2,3,4,5,6,7,8,9'
words = words.split(',')
words

words = ':'.join(words)
words

'1:2:3:4:5:6:7:8:9'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [12]:
'yay!'.replace('a', '_')
'abcdefggg'.replace('ggg', 'ghi')

'abcdefghi'

In [15]:
'wooooowoo'.replace('o', '', 2)
'Hi! Justin'.replace('s', '', 1)

'wooowoo'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.(공백제거)

In [16]:
'     oh!\n     '.strip()

'oh!'

In [ ]:
# 아래에 코드를 작성하세요.(단어제거)

In [19]:
'     oh!\n     '.lstrip()

'oh!\n     '

In [21]:
'hihihihihhihihihihihihihihiehehihihihi'.strip('hi')

'ehe'

In [22]:
'hihihihihhihihihihihihihihiehehihihihi'.lstrip('hi')

'ehehihihihi'

In [23]:
'hihihihihhihihihihihihihihiehehihihihi'.rstrip('hi')

'hihihihihhihihihihihihihihiehe'

## 1.2 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [24]:
'apple'.find('l')

3

In [25]:
'apple'.find('f')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [26]:
'apple'.index('l')

3

In [27]:
'apple'.index('f')

ValueError: substring not found

## `.split()`

- 괄호 안에 특정 값이 있으면 그 값을 구분자로 해서 문자열을 나눠 리스트로 반환합니다.
- 괄호 안에 아무 값도 넣어주지 않으면 공백(스페이스, 탭, enter)를 기준으로 문자열을 나눠 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [28]:
'abc def'.split()

['abc', 'def']

In [29]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [ ]:
words = input().split()
print(words)

## 1.3 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isuper(), .istitle(), .islower()
```

```python
dir('string') : 내가 이 자료형에 쓸수있는 다양한 함수들을 볼 수 있음.
```

In [ ]:
dir('string')

In [ ]:
a = 'hihihihihijustin'
b = 'Hi! Justin'
c = '한글'

print(a.isalpha())
print(b.isalpha())
print(c.isalpha())

In [ ]:
a = 'Hi!, My name is Justin!'
print(a.isuper())


b = 'HI!, MY NAME IS JUSTIN'
print(b.isupper())

In [1]:
a = 'Hello, World'
print(a.istitle())
b = 'Hello, world'
print(b.istitle())
print(b.istitle())

True
False
False

# 2. 리스트 메소드 활용하기

## 2.1 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [2]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [3]:
# 값을 추가해봅시다.
caffe.append('caffebene')
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene']

In [6]:
# 어렵게 넣어보도록 해봅시다.
caffe[len(caffe):] = ['ediya']
print(caffe[len(caffe):])
print(caffe)

[]
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya']

### `.extend(iterable)`

- 리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

    - `iterable` 은 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기 속합니다. for문을 돌렸을 때 하나씩 튀어나오는 친구들!

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [7]:
caffe.extend(['droptop', '빽다방'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방']

In [8]:
# 앞서 배운 list concatenate와 동일합니다.
caffe += ['mccafe', 'burgerking']
print(caffe)

In [ ]:
# append와 비교해봅시다.

In [12]:
# .append vs .extend

#.append
caffe.append(['coffenie']) #append는 인자자체가 리스트에 들어가는것!
print(caffe)

#.extend
caffe.extend(['coffeingurunaru'])  # extend는 리스트끼리의 병합!
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', ['coffenie'], ['coffenie'], 'coffeingurunaru', ['coffenie'], 'coffeingurunaru', ['coffenie']]
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', ['coffenie'], ['coffenie'], 'coffeingurunaru', ['coffenie'], 'coffeingurunaru', ['coffenie'], 'coffeingurunaru']

In [ ]:
# .append vs .extend

In [ ]:
L = [1, 2, 3]

L = L + [4] # 새로운 리스트를 만듦

L.append(4) # 기존의 리스트의 마지막에 추가

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [13]:
caffe.insert(0, 'hi')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', ['coffenie'], ['coffenie'], 'coffeingurunaru', ['coffenie'], 'coffeingurunaru', ['coffenie'], 'coffeingurunaru']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [15]:
caffe.insert(len(caffe), 'bye')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', ['coffenie'], ['coffenie'], 'coffeingurunaru', ['coffenie'], 'coffeingurunaru', ['coffenie'], 'bye', 'coffeingurunaru', 'bye']

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막 붙습니다!

In [16]:
caffe.insert(len(caffe)+5)

print(sample)

TypeError: insert() takes exactly 2 arguments (1 given)

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [18]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [19]:
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [20]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [21]:
numbers.remove(1)

ValueError: list.remove(x): x not in list

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [26]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [27]:
print(numbers.pop(0))
print(numbers)
print(numbers.pop())
print(numbers)

1
[2, 3, 4, 5, 6]
6
[2, 3, 4, 5]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [28]:
numbers = [1, 2, 3]
delete_value = numbers.pop()
print(f'{delete_value}(이)가 삭제되어{numbers}가 되었습니다.')

3(이)가 삭제되어[1, 2]가 되었습니다.

## 2.2 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [29]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]

In [30]:
numbers.index(3)

2

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

In [31]:
numbers.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [32]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]

In [33]:
numbers.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [34]:
numbers = [1, 2, 1, 3, 4]
target_number = 1

for i in range(numbers.count(target_number)):
    numbers.remove(target_number)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [35]:
target_number in numbers

False

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [37]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[13, 18, 1, 39, 23, 27]

In [42]:
# sort를 사용해봅시다.
lotto_result = lotto.sort()
print(lotto_result) # return 값 ,sort()는 원본을 바꾸는것!
print(lotto) #원본을변형.

lotto.sort(reverse=True)
print(lotto)

None
[1, 13, 18, 23, 27, 39]
[39, 27, 23, 18, 13, 1]

In [ ]:
# sorted를 사용해봅시다.

In [40]:
numbers = [2, 5, 4, 1, 7, 5]

result = sorted(numbers)
print(result) # return 값
print(numbers) # 원본값.

[1, 2, 4, 5, 5, 7]
[2, 5, 4, 1, 7, 5]

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [43]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [49]:
# .reverse()
numbers = [1, 2, 3]
numbers.reverse()
print(numbers) # 원본을 바꾼다.
print(result)

#reversed()
numbers = [1, 2, 3]
result = reversed(numbers)
print(list(result))
print(numbers) # 원본을 바꾸지 않는다!

[3, 2, 1]
<list_reverseiterator object at 0x000001AD7C883248>
[3, 2, 1]
[1, 2, 3]

In [50]:
# slicing 실습

words = ['T', 'h', 'e', '', 'A', 'v', 'e', 'n', 'g', 'e', 'r', 's']

In [51]:
words[0:2]

['T', 'h']

In [52]:
words[0:4]

['T', 'h', 'e', '']

In [53]:
words[0:11]

['T', 'h', 'e', '', 'A', 'v', 'e', 'n', 'g', 'e', 'r']

In [54]:
words[-8:-1]

['A', 'v', 'e', 'n', 'g', 'e', 'r']

In [55]:
words[-12:-9]

['T', 'h', 'e']

## 2.3 복사

In [57]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [58]:
copied_list = original_list
print(copied_list)

[1, 2, 3]

In [ ]:
# b의 값을 바꾸고 a를 출력해봅시다.

In [59]:
copied_list[0] = 5
print(copied_list)
print(original_list)

[5, 2, 3]
[5, 2, 3]

In [ ]:
# id 값을 확인해봅시다.

In [60]:
print(id(copied_list) == id(original_list)) # 오리지날과 카피된것이 똑같은것을 가리키고 있다.
print(copied_list is original_list)

True
True

In [ ]:
# 숫자를 확인해봅시다.

In [62]:
a = 20005   #숫자는 imutable한 것이기에 바뀌지않는다.
b = a
b = 30005
print(a)
print(b)

20005
20005

In [ ]:
# 문자를 확인해봅시다.

In [63]:
word_a = 'hihi'
word_b = word_a
word_b = 'byebye'

print(word_a)
print(word_b)

hihi
byebye

In [ ]:
# 딕셔너리도 확인해봅시다.

In [64]:
lunch = {'김밥천국': '치즈라면', '김가네': '제육볶음'}
print(lunch)
dinner = lunch      # 딕셔너리도 역시나 참조이므로 이렇게 변경이 가능해진다.
dinner['김밥천국'] = '참치김밥'

print(lunch)
print(dinner)

{'김밥천국': '치즈라면', '김가네': '제육볶음'}
{'김밥천국': '참치김밥', '김가네': '제육볶음'}
{'김밥천국': '참치김밥', '김가네': '제육볶음'}

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 num이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

숫자, 문자: 참조가 달라서 하나를 변경하더라도 다른것이 변하지 않았다.
리스트 ,딕셔너리: 같은걸 참조하고있으므로 하나를 변경시키면 자료가 변했다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [ ]:
# 아래에 작성하세요.

In [ ]:
# 리스트를 복사해봅시다.

In [65]:
a = [1, 2, 3]

b = a
b[0] = 5
print(a)
print(b)

[5, 2, 3]
[5, 2, 3]

In [66]:
a = [1, 2, 3]
b = a[:] #처음부터 끝까지. slicing은 잘라서 새로운 리스트를 만드는것!
b[0] = 5

print(a)
print(b) #slicing은 잘라내서 새로운 list를 만드는것이기에 a와 b가 참조하는 주소는 다르다!

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [67]:
a = [1, 2, 3]
b = list(a) # list() 함수는 return 을 하는것이기에 새로운 리스트를 만드는것!
b[0] = 5

print(a) # 따라서 a에 영향을 미치지 않는다.
print(b)

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 이런 방법도 있어요

In [68]:
a = [1, 2, 3]
b = a.copy() # 역시나 함수이기에. 참조하는 주소가 각각 다르다.
b[0] = 5

print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [69]:
a = [1, 2, [1, 2]] # 하나의 리스트에 하나의 리스트가 더있으므로. 2차원 배열안에 있는 리스트까지 복사를 떠야한다면 깊은 복사를 해야한다.
b = a[:]
b[2][0] = 3

print(a)
print(b)

[1, 2, [3, 2]]
[1, 2, [3, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [70]:
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)
b[2][0] = 3

print(a)
print(b)

[1, 2, [1, 2]]
[1, 2, [3, 2]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

# 3. List Comprehension

- List를 만들 수 있는 간단한 방법이 있습니다.

- `[표현식 for 요소 in sequence if 조건식 ]`

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [82]:
numbers = range(1, 11)

In [ ]:
# 기존의방법

In [76]:
cubic_list1 = []
for number in numbers:
    cubic_list.append(i**3)

In [73]:
# List Comprehension
cubic_list = [i**3 for i in range(1, 11)]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
numbers = range(1, 11)

In [ ]:
# 기존의방법

In [ ]:
even_list = []
for number in numbers:
    if number % 2 == 0:
        even_list.append(number)
print(even_list)

In [ ]:
# List Comprehension

In [ ]:
even_list = []
for number in numbers:
    if number % 2 == 0:
        even_list.append(number)
print(even_list)

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [89]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [91]:
list1 = []
for girl in girls:
    for boy in boys:
        list1.append((boy, girl))
print(list1)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

In [93]:
# List comprehension을 활용하여 만들어주세요.
list1 = [(boy, girl) for girl in girls for boy in boys]
print(list1)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [103]:
result = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x**2 + y**2 == z**2:
                result.append((x,y,z))
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [105]:
# List comprehension을 활용하여 만들어주세요.
result = [(x,y,z) for x in range(1,50) for y in range(x, 50) for z in range(y, 50) if x**2 + y**2 == z**2]
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [117]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
words_list = [x for x in words if x not in 'aeiou']
print(''.join(words_list))

Lf s t shrt, y nd pythn!

# 4. 딕셔너리 메소드 활용

## 4.1 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [118]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [ ]:
result = my_dict.pop('apple')

print(result)
print(my_dict)

In [119]:
# 딕셔너리에 없으면 에러가 발생합니다

In [120]:
my_dict.pop('melon')

KeyError: 'melon'

In [121]:
# 두번째 인자로 default를 설정할 수 있습니다

In [122]:
my_dict.pop('melon', 0)

0

### `.update()`

- 이미 존재하는 key가 있으면 값을 제공하는 key, value로 덮어씁니다. 
- 없다면 새로운 key-value pair를 추가합니다

In [123]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [124]:
my_dict.update(apple='사과아')
print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론'}

In [125]:
my_dict.update(peach='복숭아')
print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론', 'peach': '복숭아'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# []를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [126]:
my_dict['pineapple']

KeyError: 'pineapple'

In [131]:
# get을 사용해봅시다.
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
print(my_dict.get('pineapple', 0))

None
사과아
0

## 4.2 dictionary comprehension

- dictionary도 comprehension을 활용하여 만들 수 있습니다. 

- `{key:value for 요소 in sequnce if 조건식}`

In [ ]:
# dictionary comprehension

In [133]:
x = x*2 - 1 #연산자우선순위가 존재하는경우 먼저하는 연산을 붙여서 써준다.
c = (a+b) * (a-b)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [132]:
cubic = {x: x**3 for x in range(1, 8)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

### dictionary comprehension 사용해보기

In [145]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

In [138]:
duss = {key: value for key, value in dusts.items() if value > 80}
print(duss)

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

In [142]:
duss = {key: '나쁨' if value > 80 else '보통' for key, value in dusts.items()}
print(duss)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다.

In [147]:
translate = {key: '매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}
print(translate)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 5. 세트 메소드 활용

## 5.1 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [150]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [153]:
fruits.add('포도')
print(fruits)

{'사과', '수박', '포도', '바나나'}

In [154]:
fruits.add('포도')
print(fruits)

{'사과', '수박', '포도', '바나나'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [156]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [157]:
fruits.update({'토마토', '토마토', '딸기'}, {'포도', '레몬'}) #딕셔너리를 넣어야하는구나
print(fruits)

{'딸기', '사과', '포도', '레몬', '토마토', '수박', '바나나'}

In [ ]:
# 만약에 이렇게 한다면..

In [158]:
fruits.update('복숭아', '두리안')
print(fruits)

{'딸기', '포도', '토마토', '숭', '사과', '리', '두', '바나나', '안', '복', '수박', '아', '레몬'}

In [ ]:
# 하지만 이건 오류가 납니다!

In [159]:
fruits.update(123)
print(fruits)

TypeError: 'int' object is not iterable

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [160]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [161]:
fruits.remove('사과')
print(fruits)

{'수박', '바나나'}

In [162]:
fruits.remove('애플') # .remove 는 없으면 key 에러가남.

KeyError: '애플'

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [164]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [163]:
fruits.discard('포도') # 키값이 없어도 에러가 나지 않는다.

In [166]:
fruits.discard('수박')
print(fruits)

{'사과', '바나나'}

### `.pop()`

임의의 원소를 제거해 반환합니다.

In [170]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}

In [171]:
fruits = {"사과", "바나나", "수박", "아보카도"}

In [172]:
result = fruits.pop()
print(result)
print(fruits)

사과
{'수박', '아보카도', '바나나'}

##  `.map()`, `.zip()`, `.filter()`

### `.map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [175]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [176]:
chars = map(str, numbers)
print(chars)

<map object at 0x000001AD7C742088>

In [177]:
word = ''.join(chars)
print(word)
print(type(word))

123
<class 'str'>

In [ ]:
# list comprehension

In [178]:
word = ''.join([str(number) for number in numbers])
print(word)

123

In [184]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [185]:
numberss = list(map(int, chars))
# int('1'), int('2'), int('3')
print(list(numbers))

[1, 2, 3]

In [186]:
# list comprehension

In [187]:
numbers = [int(char) for char in chars]
print(numbers)

[1, 2, 3]

* map의 첫번째 인자로 들어가는 function은 사용자 정의 함수도 가능합니다.

In [189]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [190]:
numbers = [1, 2, 3]
list(map(cube, numbers))

[1, 8, 27]

### `.zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [192]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [197]:
# dict comprehension + for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
translate = {key: value for key in girls for value in boys}
print(translate) # 딕셔너리의 키는 중복될 수 없기에 불가능하다.

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [199]:
{girl: boy for boy in boys for girl in girls} # 아예 만드는것이 불가능하다.

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [ ]:
# zip을 사용하면 조금 더 편하게 조작할 수 있습니다.

In [198]:
print(list(zip(girls, boys))) # 복수의 iterable 이라는 말이 이것이다.

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [200]:
{girl: boy for girl, boy in zip(girls, boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [202]:
justin = '123'
zzulu = '567'

for digit_a, digit_b in zip(justin, zzulu):
    print(digit_a, digit_b)

1 5
2 6
3 7

* 아래와 같이 사용가능하다.

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [203]:
num1 = [1, 2, 3]
num2 = ['1', '2']

list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [204]:
from itertools import zip_longest

list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `.filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [207]:
def even(n):
    if n%2 == 0: #연산자 우선순위! 연산자 우선순위가 존재하는 애들은 컨벤션으로 붙여 써준다!
        return n

In [ ]:
# filter를 사용해봅시다.

In [208]:
numbers = [1, 2, 3, 4, 5, 2, 2]
list(filter(even, numbers))

[2, 4, 2, 2]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [209]:
result = {number for number in numbers if even(number)}
print(result)

{2, 4}